<!DOCTYPE html>
<html>
<body>

dec <input type="text" id="decCislo"> <br>
bin <input type="radio" id="7"name="a" onclick="fun1()" value= "0111">7
<input type="radio" id="6"name="a" onclick="fun2()" value="0110">6
<input type="radio" id="5"name="a" onclick="fun3()" value="0101">5
<input type="radio" id="4"name="a" onclick="fun4()" value= "0100">4
<input type="radio" id="3"name="a" onclick="fun5()" value="0011">3
<input type="radio" id="2"name="a" onclick="fun6()" value="0010">2
<input type="radio" id="1"name="a" onclick="fun7()" value="0001">1


<script>
  function fun1() {
    var obsah = document.getElementById("7").value;
    document.getElementById("decCislo").value = obsah;

  }
  function fun2() {
    var obsah = document.getElementById("6").value;
    document.getElementById("decCislo").value = obsah;

  }
  function fun3() {
    var obsah = document.getElementById("5").value;
    document.getElementById("decCislo").value = obsah;

  }
  function fun4() {
    var obsah = document.getElementById("4").value;
    document.getElementById("decCislo").value = obsah;

  }
  function fun5() {
    var obsah = document.getElementById("3").value;
    document.getElementById("decCislo").value = obsah;

  }
  function fun6() {
    var obsah = document.getElementById("2").value;
    document.getElementById("decCislo").value = obsah;

  }
  function fun7() {
    var obsah = document.getElementById("1").value;
    document.getElementById("decCislo").value = obsah;

  }

</script>

</body>
</html>
