<!DOCTYPE html>
<html>
<body>
<form id="form">

dec <input type="text" id="decCislo" name="dec"> <br>
bin <input type="checkbox" id="7"name="bin" onclick="check()" value= "0111">7 (128)
    <input type="checkbox" id="6"name="bin" onclick="check()" value="0110">6 (64)
    <input type="checkbox" id="5"name="bin" onclick="check()" value="0101">5 (32)
    <input type="checkbox" id="4"name="bin" onclick="check()" value= "0100">4 (16)
    <input type="checkbox" id="3"name="bin" onclick="check()" value="0011">3 (8)
    <input type="checkbox" id="2"name="bin" onclick="check()" value="0010">2 (4)
    <input type="checkbox" id="1"name="bin" onclick="check()" value="0001">1 (2)
    <input type="checkbox" id="0"name="bin" onclick="check()" value="0000">0 (1)

</form>

</body>
</html>
